{{define "header"}}
<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {{if .Title}}
      datadex.io / {{.Title}}
    {{else}}
      datadex.io - the dataset index
    {{end}}
  </title>
  <meta name="description" content="{{.Title}} - {{.Description}}" />

  <!-- CSS -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/static/datadex.min.css" media="all" rel="stylesheet" type="text/css" />

  <!--
  SEARCH
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="DataDex" />

  ICONS
  <link rel="fluid-icon" href="/static/fluidicon.png" title="DataDex" />
  <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-114.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-144.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144.png" />
  <link rel="logo" type="image/svg" href="/static/logo.svg" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  OG
  <meta property="og:image" content="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">
  <meta property="og:title" content="npm-www"/>
  <meta property="og:type" content="githubog:gitrepository"/>
  <meta property="og:url" content="https://github.com/npm/npm-www"/>
  <meta property="og:image" content="https://github.global.ssl.fastly.net/images/gravatars/gravatar-user-420.png"/>
  <meta property="og:site_name" content="GitHub"/>
  <meta property="og:description" content="npm-www - npmjs.org website"/>

  RSS
  <link href="https://datadex.io/.atom" rel="alternate" title="{{ .Title }} - datadex.io" type="application/atom+xml" />
  -->

</head>
<body>
<div class="datadex">

<!-- Navigation -->
<a class="sr-only" href="#content">Skip navigation</a>
<header class="navbar navbar-inverse navbar-fixed-top datadex-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="/static/data-logo.png" />
      </a>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

      <form class="navbar-form navbar-left" role="search">
        <div class="search autocomplete">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="search datasets" id="search" value="">
            <span class="input-group-btn">
              <button class="btn" type="button" role="submit">
                Search
              </button>
            </span>
          </div><!-- /input-group -->
        <script>
        // $(document).ready(function() {
        //   var search = new athena.mobile.Search($('input#search'));
        // });
        </script>
        </div>
      </form>

      <div class="navbar-right pull-right" role="auth">
        {{if .LoggedIn}}
        <a href="/user/{{.Username}}" type="button" class="btn btn-link navbar-btn" data-tooltip="tooltip" data-placement="bottom" title="Your profile">
          <b>{{.Username}}</b>
        </a>

        <a href="/user/logout" type="button" class="btn btn-icon btn-link navbar-btn" data-tooltip="tooltip" data-placement="bottom" title="Sign out">
          <i class="icon-signout"></i>
        </a>
        {{ else }}
        <a href="/user/login" type="button" class="btn btn-icon btn-link navbar-btn" data-tooltip="tooltip" data-placement="bottom" title="Sign in">
          <i class="icon-signin"></i>
        </a>
        {{ end }}
      </div>

    </nav>
  </div>
</header>

<!-- Content -->
<main class="" id="content" role="main">
  <div class="container datadex-content">

    <div class="row">
    <br />
{{end}}

{{define "sidebar-common"}}
            <li><a href="/">Datadex</a>
              <ul class="nav">
                <li><a href="/doc/install">Install</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/about/faq">F.A.Q.</a></li>
                <li><a href="/doc">Docs</a></li>
                <li><a href="/list/datasets/by-last-updated#list">Browse</a></li>
                <li><a href="/doc/ref">Reference</a></li>
              </ul>
{{end}}

{{define "footer"}}
    </div>


    <!-- Footer -->
    <footer>
      <div>
        <h5>datadex.io</h5>
        <ul class="links no-bullet">
          <li><a href="/about">About</a></li>
          <li><a href="/about/terms">Terms</a></li>
          <li><a href="/about/privacy">Privacy</a></li>
        </ul>
      </div>
      <div>
        <h5>Questions, feedback, feature requests?</h5>
        <ul class="links no-bullet">
          <li><a href="https://twitter.com/intent/user?screen_name=juanbenet" target="_blank"><i class="icon-twitter"></i> @juanbenet</a></li>
          <li><a ng-href="https://github.com/jbenet/datadex/issues/new?body='\n\nFrom '+currentURL|encodeURIComponent" target="_blank"><i class="icon-github"></i> jbenet/datadex</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/data-discuss" target="_blank"><i class="icon-envelope"></i> data-discuss@googlegroups.com</a></li>
        </ul>
      </div>
    </footer>

  </div>
</main>

<!-- cdnlibs -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css"></script>
<script src="/static/datadex.min.js"></script>
<!--
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.0/tagmanager.js"></script>
<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
-->

</div>
</body>
</html>
{{end}}
