{{template "header" .}}

{{with .BodyPage}}
      <!-- TOC -->
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary">
          <ul class="nav bs-sidenav">
            <li><a href="#bio">{{.Username}}</a></li>
            <li>
              <a href="#packages">Packages</a>
              <ul class="nav">
                {{range .Packages}}
                <li><a href="#{{.Handle.Author}}-{{.Handle.Name}}">{{.Dataset}}</a></li>
                {{end}}
              </ul>
            </li>
            <hr />
            <li><a href="/about">About Datadex</a></li>
          </ul>
        </div>
      </div>

      <!-- main -->
      <div class="col-md-9" role="main">

        <!-- user profile -->
        <div>

          <div class="row">
            <div class="col-sm-4">
              <img width="220" height="220" src="https://1.gravatar.com/avatar/a9670c143716320893863524a0efbaff?d=https%3A%2F%2Fidenticons.github.com%2F0aba50c0767d446467b894ce8a636aa3.png&r=x&s=440" />

              <h3>{{.Name}}</h3>

              <br /><i class="icon-user"></i> {{.Username}}
              {{if .Github}}<br /><i class="icon-github"></i> {{.Github}}{{end}}
              {{if .Twitter}}<br /><i class="icon-twitter"></i> {{.Twitter}}{{end}}
              {{if .Email}}<br /><i class="icon-envelope"></i> {{.Email}}{{end}}
              {{if .Website}}<br /><i class="icon-home"></i> {{.Website}}{{end}}

            </div>
            <div class="col-sm-8">

              <div id="bio" class="well">
              {{if .Bio}}
                {{.Bio}}
              {{else}}
                No bio provided.
              {{end}}
              </div>

              <h3 class="text-muted">Published Datasets</h3>

              <!-- Indexfiles -->
              <table id="packages" class="table">
                {{range .Packages}}
                <tr id="{{.Handle.Author}}-{{.Handle.Name}}">
                  <th>{{.Dataset}}</th>
                  <td>
                    {{if .Tagline}}
                      {{.Tagline}}<br />
                    {{end}}
                    <span class="text-muted">{{.Refs.Versions | len}} versions.
                    Updated {{.Refs.LastUpdated | timeago}}.</span>
                  </td>
                </tr>
                {{end}}
              </table>

              {{/*
              <!-- Grouped Datafiles
              {{range $group, $pkgs := .Packages}}
              <br />
              <h4>{{$group}}</h4>
              <table id="user-packages" class="table">
                {{range $pkgs}}
                <tr>
                  <th>{{.Dataset}}</th>
                  <td>{{.Description}}</td>
                </tr>
                {{end}}
              </table>
              {{end}}
              -->

              <!-- Single Datafiles
              <br />
              <table id="user-packages" class="table">
                {{range $group, $pkgs := .Packages}}
                <tr>
                  <th>{{$group}}</th>
                  <td>
                  {{(index $pkgs 0).Description}}
                  <br />
                  Versions:
                    <ul>
                      {{range $pkgs}}
                      <li>{{.Dataset}}</li>
                      {{end}}
                    </ul>
                  </td>
                </tr>
                {{end}}
              </table>
              -->
              */}}

            </div>
          </div>
          <br />

        </div>
      </div>
{{end}}

{{template "footer" .}}
